.container {
    display: grid;
    grid-template: 120px 1fr 80px / 70% 1fr;
    grid-template-areas: 
    "Header Header" 
    "Left Contenido" 
    "Footer Footer";
    grid-gap: 20px;
    height: 100vh;
    grid-gap: 3%;
}
.Header {
    grid-area: Header;
}
.Left {
    grid-area: Left;
}
.Contenido {
    grid-area: Contenido;
}
.Footer {
    grid-area: Footer;
}
.item {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.nav-bar {
    background-color: rgb(47, 101, 83);
    border-radius: 5px;
    }
.bodystyle {
    background-color: blanchedalmond;
    }
    h1, h2 {
        box-align:center;
        color: red;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(109, 104, 104);
            animation-name: cambios;
            animation-duration: 10s;
        border-radius: 2px
        }
        @keyframes cambios {
            0% {
                background-color: rgb(93, 10, 10);
                left: 0px;
                top: 0px;
                border-radius: 0%;
            }

            25% {
                background-color: salmon;
                left: 200px;
                top: 0px;
                border-radius: 50%;
            }

            50% {
                background-color: rgb(77, 77, 156);
                left: 200px;
                top: 200px;
                border-radius: 0%;
            }

            75% {
                background-color: rgb(125, 229, 125);
                left: 0px;
                top: 200px;
                border-radius: 50%;
            }

            100% {
                background-color: rgb(181, 70, 70);
                left: 0px;
                top: 0px;
                border-radius: 0%;
            }
    }
    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .form-clas {
        font-family: 'Courier New', Courier, monospace;
        background-color: blanchedalmond;
    }
    img {
        border-radius: 20px;
        width: 100%;
        max-width: 850px;
    }
